<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag("3.jpg", class:"d-block w-100" ) %>
    <div class="carousel-caption d-none d-md-block">
      <h1>We try to provide best services to manage your projects</h1>
    </div>
    </div>
      <div class="carousel-item">
      <%= image_tag("2.jpg", class:"d-block w-100" ) %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Acheivements comes with cooperation</h1>
      </div>
    </div>
    <div class="carousel-item">
    <%= image_tag("1.jpg", class:"d-block w-100" ) %>
    <div class="carousel-caption d-none d-md-block">
      <h1>Start your business using our site</h1>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%# <h1>All rights are reserves </h1> %>